@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto+Serif:opsz,wght@8..144,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Nunito:wght@200&family=Roboto+Serif:opsz,wght@8..144,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Istok+Web&family=Nunito:wght@200&family=Roboto+Serif:opsz,wght@8..144,600&display=swap');

$primary: rgb(30,30,30); 
$brandColor1: #bf9745;
$bordYellow: #FBCD6E;
$bgColor: #1e1e1e;
$textWhite : #F4F4F3;
$surveyBord : #FCF5E5;

@import '~bootstrap/scss/bootstrap';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Body {
  height: 100vh;
  background-color: $bgColor; 
  font-family: 'Istok Web', sans-serif;
}

.bgNav {
  object-fit: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(30, 30, 31)), url("./Assets/jpg/navbarBg.jpg");
  background-size: cover;
  background-position: 40% 50%;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 100px;
  width: 100%;
}

/* Repeated style  */
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: Column;
}

/* Navbar  */

.cosTextPic {
  justify-content: center;
  align-items: center;
  gap: 10px;
  user-select: none;
  width: 600px;
}

.cosPic{
  width: 150px;
  height: 130px;
}

.cosText{
  justify-content: center;
  align-items: center;
  width: 350px;
  h1 {
    font-family: 'Roboto Serif', serif;
    color: $brandColor1;
    font-size: 30px;
  }

  p {
    color: $textWhite;
    font-size: 15px;
    font-style: italic;
  }
}

.navBar{
  width: 700px;
  max-width: 700px;
}

.Links {
  gap: 20px;

  a {
    text-decoration: none;
    color: $textWhite;
    font-family: 'Nunito', sans-serif; // Use a comma-separated list for multiple font families
    font-weight: bold;
    user-select: none;
  }

  a:hover {
    border-bottom: 1px solid $brandColor1;
    margin-bottom: -1px;
  }
}

.selStyle {
  border-bottom: 1px solid $brandColor1;
}
/* Announcement Event */

.EventBorder{
 justify-content: start;
 align-items: center;
 gap: 60px;
}

.evenUpperText{
  width: 100%;
  max-width: 1250px; 
  color: $brandColor1;
  font-size: 30px;
  
}

.gridAnnContain{
  display: grid;
  grid-template-columns: auto auto auto;
}

.contentBorder {
  height: 100;
  width: 100%;
  max-width: 1200px; 
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.eventContent {
 background-color: #FBCD6E;
 align-items: center;
  justify-content: center;
  height: 100%px;
  max-height: 500px;
  gap: 10px;
}

.monthEvent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF0606;
  border-radius: 10px 10px 0 0 ;
  font-size: 17px;
  width: 90px;
  height: 30px;
  color: $textWhite;
  letter-spacing: 5px;
  font-weight: bold;
}

.dayEvent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $textWhite;
  border-radius: 0 0 10px 10px;
  font-size: 50px;
  height: 55px;
  max-height: 100%;
  width: 100%;
  max-width: 90px;
  color: $bgColor;
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'Istok Web', sans-serif;
}

.titleEvent{
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 350px;
}

.eventIn{
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 320px;
}

.calendar {
  width: 90px;
  user-select: none;
}

.EventTitleText{
  width: 1000px;
  p {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
  }
}

.eventDescription {
  gap: 0;
  text-align: left;
  width: 100%;
  max-width: 350px;
  
  p {
    margin-bottom: 0;
    line-height: 20px;
  }
}

.seeMore {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.btnLM {
  background-color: $bgColor; 
  border: $brandColor1 solid 1px;
  color: $brandColor1;
  font-size: 20px;
  width: 180px;
  border-radius: 10px;
}

// Book of Abstract

.searchPart {
  background-color: $bgColor; 
  border: $textWhite solid 1px;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 1100px;
  gap: 5px;
}

.searchInp {
  border-right: 1px solid $textWhite;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 10px;
  span{
    color: $brandColor1;
    user-select: none;
    font-size: 40px;
  }

  input{
    background: none;
    border: none;
    color: $brandColor1;
    padding-right: 10px;
  }
  input:focus{
    outline: none;
  } 
}

.filtBord{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.filtTag {
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 40px;
  gap: 40px;
  font-family: 'Istok Web', sans-serif;
  span {
    list-style-type: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    width: 60px;
  }
  span:hover {
    border-bottom: 1px solid $brandColor1;
    margin-bottom: -1px;
  }
}

.selectYear{
  border-left: 1px solid $textWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;

  select{
    color: #ffffff8b;
    background-color: $bgColor;
    border: none;
    font-size: 17px;
    text-align: center;

  }
  select:focus{
    outline: none;
  }
}



.BOAborder {
  justify-content: start;
  align-items: center;
  color:$textWhite;
  gap: 40px;
}

.abstractBorder {
  width: 1200px;
  gap: 50px;
}

.plusIconBoa span, .dlIconBoa span{
  color: $brandColor1;
  user-select: none;
  cursor: pointer;
  font-size: 60px;
}

.abstractContBord {
  display: flex;;
  justify-content: center;
  align-items: center;
  border: $textWhite solid 1px;
  background-color: $bgColor; 
  border-radius: 30px;
  height: 100%;
  
}

.abstractCont{
  justify-content: center;
  align-items: center;
  width: 93%;
  max-width: 1100px;
  height: 270px;
  gap: 20px
}

.upperBoaCont{
  gap: 60px
}

.detAbstarct{
  p{
    margin-bottom: 0;
    line-height: 25px;
  }
}


.bottomBoaCont{
  gap: 60px;
}

.closeDesc{
  display: none;
}

.bottomLoad{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

// Survey
.surveyBorder {
  justify-content: start;
  align-items: center;
  color: $textWhite;
  height: 1100px;
  gap: 40px;
  width: 100%;
}

.titleTextPage{
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 10px;
}

.questionBord{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $surveyBord;
  width: 1000px;
  height: 800px;
  gap: 60px;
}

.innerQuestBord{
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 50px;
}

.quewstionForm{
  display: flex;
  align-content: center;
  justify-content: center;;
  width: 100%;
}

.questPersInfo{
  display: none;
  gap: 40px
}

.questEduc{
  display: none;
  gap: 40px
}
.survHeader{
  display: flex;
  justify-content: start;
  align-items: start;
  color: $brandColor1;
  font-family: 'Abhaya Libre', serif;
  width: 200px;
  h1 {
    font-size: 50px;
  }
}

.inputAns{
  gap: 20px;
}

.textAndPic{
  gap: 110px;
}

.inputs4text{
  font-size: 20px;
  gap: 20px;
  
    input{
      border: none;
      background-color: none;
      width: 95%;
      &:focus{
        outline: none;
      }
    }
  .longAns{
    width: 600px;
  }
}

.questInpBord{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 10px;
  background-color: white;
}

.dropBord{
  background: transparent;
  border-radius: none;
  border: none;
  width: 95%;
  &:focus{
    outline: none;
  }
}

.input2drop{
  font-size: 20px;
  gap: 20px
}

.shortAns{
  width: 290px;

  input,select {
    width: 270px
  }
}

.inp2Txt1Drop{
  font-size: 20px;
  gap: 20px
}

.survCat{
  justify-content: end;
  align-items: center;
  width: 900px;
  font-family: 'Istok Web', sans-serif;
  font-size: 15px;
  gap: 20px;

  label{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbcc6e25;
    border: 1px $bordYellow solid;
    height: 90px;
    width: 124px;
    cursor: pointer;
    user-select: none;
    text-align: center;

    &:hover{
      background-color: $brandColor1;
    }

  }

}



.profPic {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $bordYellow;
  font-size: 130px;
  width: 200px;
  height: 210px;
  background-color: white;
}

.profPicBord{
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.buttonUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bordYellow;
  width: 200px;
  height: 40px;
  cursor: pointer;
  color: $bgColor;
  border-radius: 10px;
  
  &:hover{
    background-color: #ffc042;
    
  }
}

.nextbtnBord{
  display: flex;
  justify-content: end;
  width: 900px;
}

.nextButtonSurv{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bordYellow;
  font-size: 20px;
  width: 190px;
  height: 50px;
  border: none;
  letter-spacing: 8px;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  border-radius: 10px;

  &:hover{
    background-color: #ffc042;
  }
}

