@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto+Serif:opsz,wght@8..144,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Nunito:wght@200&family=Roboto+Serif:opsz,wght@8..144,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Istok+Web&family=Nunito:wght@200&family=Roboto+Serif:opsz,wght@8..144,600&display=swap');

$primary: rgb(30,30,30); 
$brandColor1: #bf9745;
$bordYellow: #FBCD6E;
$bgColor: #1e1e1e;
$textWhite : #F4F4F3;
$surveyBord : #FCF5E5;


@import '~bootstrap/scss/bootstrap';

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Body {
  height: 100vh;
  background-color: var(--bkgColor); 
  font-family: 'Istok Web', sans-serif;
}

.bgNav {
  object-fit: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(30, 30, 31)), url("./Assets/jpg/navbarBg.jpg");
  background-size: cover;
  background-position: 40% 50%;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 100px;
  width: 100%;
}

/* Repeated style  */
.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

/* Login */
.log_style{
  padding: 0;
    margin: 0;
    font-family: 'Montagu Slab', serif; 
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.left-col{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100vh;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Gelasio', serif;
  background-image: url(/Assets/jpg/navbarBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.left-col::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: brightness(40%);
  z-index: -1;
}

.left-col h1{
  font-family: 'Abhaya Libre', serif;
  letter-spacing: 8px;
  font-size: 4.5rem;
  color: #bf9745;
}

.left-col p{
  letter-spacing: 2px;
}

.right-col{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100vh;
  justify-content: center;
  text-align: left;
  color: #fff;
  background-color: #111;
  font-family: 'Montagu Slab', serif;
  padding:  0 100px 0 50px;
}


.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-col .right-text{
  text-align: left;
  margin-bottom: 20px;
  font-weight: bold;
  gap: 25px;
}

.right-col .right-text1{
  letter-spacing: 2px;
  font-size: 2rem;
}

.right-col .right-text2{
  font-size: .8rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.form-container{
  gap: 20px;
}

.form-container button{
  background-color: #bf9745;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Abhaya Libre', serif;
  border-radius: 4px;
  width: 100%;
}

.form-container .a-btn{
  color: #000;
  font-weight: bold;
  font-size: 25px;

}

.form-container .b-btn{
  color: #fff;
  font-weight: bold;
}

.form-container .admin-login-btn{
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.form-container .user-sign-btn{
  font-weight: bold;
  font-size: 15px;
}

.form-container .right-text3{
  font-size: 12px;
  font-weight: bold;
}

.form-container input{
  border-radius: 4px;
}

.form-container .box{
  height: 40px;
  margin: 10px 0 10px 0;
  padding: 10px;
}

.form-container .box2{
  height: 60px; 
}

.form-container .form-container1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-container .form-container2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-container .SU-box{
  height: 25px;
  width: 45%;
  margin: 10px 0 10px 0;
  padding: 10px;
}

.form-container .SU-box1{
  height: 25px;
  margin: 10px 0 10px 0;
  padding: 10px;
}

.form-container .SU-box2{
  height: 45px;
}

.left-col footer{
  align-items: end;
  letter-spacing: 2px;
}

/* Home */

.homeStyle{
  margin: 0;
    padding: 0;
    font-family: 'Montagu Slab', serif;
    background-color: #111;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border: 1px solid #111;
  height: auto;
  width: auto;
}


.NewsStories{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 50vh;
}


.NewsStories .NS-Header .NS-Header-text{
  margin: 0;
  font-size: 40px;
  font-family: 'Abhaya Libre', serif;
  color: #FBCD6E;
  font-weight: bold;
  letter-spacing: 3px;
}

.NewsStories .NS-Header .NS-Header-line{
  margin: 0 0 40px 0;
  font-size: 30px;
  color: #fff;
}


.card-holder{
  display: flex;
  justify-content: center;
}

.content-card{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card-home{
  border: 1px solid #111;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  background: #FBCD6E;
  font-family: 'Abhaya Libre', serif;
  width: 300px;
  text-align: left;
}

.card-home a{
  justify-self: flex-start;
}

.card-home img{
  width: 300px;
  height: 300px;
}

.card-home .ns-content-title{
  font-weight: bold;
}

.card-home .description{
  font-family: "Actor", sans-serif;
  width: 100%;
  padding: 0 20px 0 20px;
}

.NewsStories .E-LM{
  color: #FBCD6E;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  margin: 20px 42% 20px 42%;
  border: 2px solid #FBCD6E;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;

}

.NewsStories .E-LM a{
  color: #FBCD6E;
  font-size: 15px;
  font-weight: bold;
}

.NewsStories .E-LM p::after{
  content: "   \2192";
}

.a-btn-home-event{
  text-decoration: none;
}
.Events{
  padding: 30px;
  min-width: 0;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background: #79542E;
}

.Events .E-header{
  color:#FFE1A4;
  font-family: 'Abhaya Libre', serif;
  font-size: 40px;
  letter-spacing: 3px;
  margin: 0 0 50px 50px;
}

.Events .E-text{
  color:#fff;
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0 0 50px 50px;
}

.E-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.event{
  display: flex;
  width: 45%;
  gap: 30px;
  font-family: "Istok Web", sans-serif;
}

.when{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.month{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background: #FF0606;
  border-radius: 10px 10px 0 0;
  height: 28px;
  width: 105px;
}

.date{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FBCD6E;
  border-radius: 0 0 10px 10px;
  height: 77px;
  width: 105px;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.what{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: #fff;
  font-family: "Istok Web", sans-serif;
  letter-spacing: 3px;
  margin: 0;
}

.what .what-1{
  font-size: 18px;
}

.what .what-2{
  font-size: 24px;
  font-weight: bold;
}

.what .what-3{
  font-size: 20px;
}

.what p{
  margin: 0;
}

.E-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.E-link a{
  padding: 20px;
  margin: 20px;
  width: 30%;
  background: peachpuff;
  border-radius: 10px;
  color: #111;
  text-align: center;
}

.Gallery{
  min-height: 400px ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  min-width: 0;
  max-width: 100%;
  background-color: #FCF5E5;
}

.Gallery .Images{
  width: 50%;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 150px;
  gap: 10px;
  padding: 10px;
  height: 300px;
}

.img-1{
  height: 150px;
  width: 310px;
  border: 2px solid black;
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}

.img-2{
  height: 150px;
  width: 150px;
  border: 2px solid black;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.img-3{
  height: 150px;
  width: 150px;
  border: 2px solid black;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.Gallery .Images img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.G-Text{
  width: 40%;
  text-align: center;
  color: #111;
  letter-spacing: 3px;
}

.G-Text .G-header{
  font-size: 40px;
  font-family: 'Abhaya Libre', serif;
}

.G-Text .G-subheader{
  font-size: 20px;
  font-family: "Corben", serif;
}

.G-Text .G-LM{
  background: #FBCD6E;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 25% 0 25%;
}

.G-Text .G-LM a{
  color: #111;
  text-decoration: none;
}

.G-Text .G-LM .arrow{
  min-width: 0;
  max-width: 30px;
}

/* Navbar  */

.cosTextPic {
  justify-content: center;
  align-items: center;
  gap: 10px;
  user-select: none;
  width: 600px;
}

.cosPic{
  width: 150px;
  height: 130px;
}

.cosText{
  justify-content: center;
  align-items: center;
  width: 350px;
  h1 {
    font-family: 'Roboto Serif', serif;
    color: $brandColor1;
    font-size: 30px;
  }

  p {
    color: $textWhite;
    font-size: 15px;
    font-style: italic;
  }
}

.navBar{
  width: 800px;
 
}

.Links {
  gap: 20px;
  a  {
    text-decoration: none;
    color: $textWhite;
    font-family: 'Nunito', sans-serif; // Use a comma-separated list for multiple font families
    font-weight: bold;
    user-select: none;
  }

  a:hover {
    border-bottom: 1px solid $brandColor1;
    margin-bottom: -1px;
  }
}

.dropdown .dropbtn{
  display: flex;
  align-items: flex-start;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: $textWhite;
  font-family: 'Nunito', sans-serif; // Use a comma-separated list for multiple font families
  font-weight: bold;
  user-select: none;
} 

.dropdown:hover .dropList{
  flex-direction: column;
  position: absolute;
  display: flex;
}

.dropList {
  display: none;
  
  a{
    margin-bottom: -1px;
    border-bottom: 1px solid white;
  }
}

.selStyle {
  border-bottom: 1px solid $brandColor1;
}

/* Request Form */

.ReqFormStyle{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-height: fit-content;
  background-color: #111;   
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading{
  text-align: center;
  color: #fff;
  font-family: 'Abhaya Libre', serif;
  font-size: 55px;
}

.Form-cont{
  background: rgb(249, 244, 198);
  height: 100%;
  margin: 30px;
  padding: 30px;
  width: 80%;
}

.head{
  display: flex;
  justify-content: space-between;
}

.Form-cont .head h2{
  color: #BF9745;
  font-size: 49px;
  font-family: 'Abhaya Libre', serif;
  margin: 0 0 40px 0;
}


.Form-cont .head .date{
  text-align: center;
  align-items: center;
  padding: 10px;
  width: 207px;
  height: 70px;
  margin: 0;
}

.Form-cont .head .date .calendar{
  padding: 5px 15px 5px 15px;
  background-color: #fff;
  border-radius: 8px;
  font-family: "Istok Web", sans-serif;
  font-size: 28px;
  color: palegoldenrod;
}

.Form-cont .head .date .date-text{
  font-size: 20px;   
  font-family: "Istok Web", sans-serif;
}

.Form-cont .head .date p{
  margin: 0;
}

.Form-cont .purpose{
  font-family: "Istok Web", sans-serif;
}

.Form-cont .purpose h3{
  font-size: 28px;
}

.Form-cont .purpose .docu-req{
  line-height: 2.5;
  font-size: 20px;
  margin: 0 50px 0 50px;
}

.Form-cont .purpose .docu-req .holder{
  display: flex;
  align-items: center;
  gap: 15px;
}

.Form-cont .purpose .docu-req .textbox{
  border: none;
  border-bottom: 2px solid #111;
  outline: none;
  background-color: transparent;
}


.Form-cont .purpose .docu-req .holder input[type="checkbox"]{
  width: 30px;
  height: 30px;
}

.Form-cont .purpose .info-1 input{
  border: none;
  border-bottom: 2px solid #111;
  outline: none;
  background-color: transparent;
}

.Form-cont .purpose .info-1{
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  gap: 15px;
  margin: 30px 0 30px 0;
}

.Form-cont .purpose .info-1 input[type="checkbox"]{
  width: 30px;
  height: 30px;
}

.Form-cont .purpose .info-1 .info-1-holder{
  display: flex;
  align-items: center;
  gap: 15px;
}

.Form-cont .purpose .info-2{
  margin: 30px;
  gap: 15px;
  line-height: 2.5;
  display: flex;
  flex-wrap: wrap;
}

.Form-cont .purpose .info-2 .info-2-1{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 70px;
  font-size: 28;
  font-family: "Istok Web", sans-serif;
  letter-spacing: 3px;
  color: palegoldenrod;
  padding: 10px;
  font-weight: bold;
}


.Form-cont .purpose .info-2 .info-2-2{
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 70px;
  padding: 10px 11px 10px 10px;
  font-size: 28;
  font-family: "Istok Web", sans-serif;
  letter-spacing: 3px;
  color: palegoldenrod;
  font-weight: bold;
}


.Form-cont .purpose .submit-btn{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 100px 0 30px 30px;
}

.Form-cont .purpose a{
  text-decoration: none;
  color: #111;
  padding: 20px 50px 20px 50px;
  margin: 20px;
  background: #FBCD6E;
  border-radius: 8px;
  font-size: 28px;
  font-family: "Istok Web", sans-serif;
  font-weight: bold;
  text-align: center;
}

/* Announcement Event */

.EventBorder{
 justify-content: flex-start;
 align-items: center;
 gap: 60px;
 width: 100%;
}

.evenUpperText{
  width: 90%;
  color: $brandColor1;
  font-size: 30px;
  
}

.contentBorder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.eventContent {
 background-color: #FBCD6E;
 align-items: center;
  justify-content: center;
  height: 100%px;
  max-height: 500px;
  gap: 10px;
}

.monthEvent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF0606;
  border-radius: 10px 10px 0 0 ;
  font-size: 17px;
  width: 90px;
  height: 30px;
  color: $textWhite;
  letter-spacing: 5px;
  font-weight: bold;
}

.dayEvent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $textWhite;
  border-radius: 0 0 10px 10px;
  font-size: 50px;
  height: 55px;
  max-height: 100%;
  width: 100%;
  max-width: 90px;
  color: $bgColor;
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'Istok Web', sans-serif;
}

.titleEvent{
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 350px;
}

.eventIn{
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 320px;
}

.calendar {
  width: 90px;
  user-select: none;
}

.EventTitleText{
  width: 1000px;
  p {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
  }
}

.eventDescription {
  gap: 0;
  text-align: left;
  width: 100%;
  max-width: 350px;
  
  p {
    margin-bottom: 0;
    line-height: 20px;
  }
}

.seeMore {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.btnLM {
  background-color: $bgColor; 
  border: $brandColor1 solid 1px;
  color: $brandColor1;
  font-size: 20px;
  width: 180px;
  border-radius: 10px;
}

// Book of Abstract

.searchPart {
  background-color: #FCF5E5; 
  border: $textWhite solid 1px;
  justify-content: center;
  clip-path: polygon(3% 0, 100% 0, 100% 50%, 97% 100%, 0 100%, 0 50%);
  align-items: center;
  height: 60px;
  width: 83%;
  gap: 5px;
}

.outerSearch{}

.searchInp {
  border-right: 1px solid $textWhite;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 10px;
  span{
    color: $brandColor1;
    user-select: none;
    font-size: 40px;
  }

  input{
    background: none;
    border: none;
    color: $brandColor1;
    padding-right: 10px;
  }
  input:focus{
    outline: none;
  } 
}

.filtBord{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.filtTag {
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 40px;
  gap: 40px;
  font-family: 'Istok Web', sans-serif;
  span {
    list-style-type: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    width: 60px;
  }
  span:hover {
    border-bottom: 1px solid $brandColor1;
    margin-bottom: -1px;
  }
}

.selectYear{
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;

  select{
    color: black;
    background-color: #FCF5E5;
    border: none;
    font-size: 17px;
    text-align: center;

  }
  select:focus{
    outline: none;
  }
}



.BOAborder {
  justify-content: flex-start;
  align-items: center;
  color:black;
  gap: 40px;
}

.abstractBorder {
  width: 87%;
  gap: 50px;
}

.abstractContBord {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCF5E5; 
  border-radius: 30px;
  height: 100%;
}

.abstractCont{
  justify-content: center;
  width: 93%;
  max-width: 1100px;
  gap: 20px;
  padding: 30px 0 30px 0

}

.plusIconBoa span, .dlIconBoa span{
  color: #FFB316;
  user-select: none;
  cursor: pointer;
  font-size: 60px;
}

.boaTitle{
  width: 100%;
  max-width: 1200px;
}

.detAbstarct{
  p{
    margin-bottom: 0;
    line-height: 25px;
  }
}


.bottomBoaCont{
  gap: 20px;
  width: 93%;
}

.abstText{
  width: 100%;
  max-width: 1200px;
}

.closeDesc{
  display: none;
}

.bottomLoad{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

// Survey
.surveyBorder {
  justify-content: flex-start;
  align-items: center;
  color: $textWhite;
  gap: 40px;
  width: 100%;
  padding-bottom: 20px;
  input[type=checkbox]{
    height: 18px;
  }
  
  input[type=number]{
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.textAreaSurv{
  width: 95%;
  max-height: 48px;
  textarea{
    resize: none;
    &::placeholder{
      position:absolute
    }
    
  }
  div{
    height: auto;
  }
}

.questionBord{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $surveyBord;
  width: 90%;
  max-width: 1000px;
  gap: 60px;
}

.innerQuestBord{
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 50px;
  padding: 50px 0 50px 0;
}

.quewstionForm{
  width: 100%;
}

.inputSurvText{
  display: flex;
  align-content: center;
  justify-content: center;;
  width: 100%;
}

.questPersInfo{
  display: none;
  gap: 40px;
  width: 100%;
}

.questEduc{
  display: none;
  width: auto;
  gap: 40px;
}

.Educ4Checkbox{
  width: 95%;
  tr{
    height: 30px;
  }
  thead {
    text-align: center;
  }
  tbody{
    font-size: 18px;
  }

}

.selChckBArrange{
  display: flex;
  align-items: center;
  gap: 20px;
}


.survHeader{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: $brandColor1;
  font-family: 'Abhaya Libre', serif;
  width: 100%;
  h1 {
    font-size: 50px;
  }
}

.inputAns{
  gap: 20px;
  width: 100%;
  
}

.inputs4text{
  font-size: 20px;
  gap: 20px;
}

.inputText{
  border: none;
  background-color: none;
  width: 95%;
  &:focus{
    outline: none;
  }
}

.questInpBord{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  height: 100%;

  input[type=text], input[type=tel], input[type=number], select, input[type=email], textarea{
    width: 95%;
    padding: 20px 0 20px 0;
    border: none;
    background-color: none;
    resize: none;

    &:focus{
      outline: none;
    }
  }
}

.heightInp{
  height: 60px;
}

.dropBord{
  background: transparent;
  border-radius: none;
  border: none;
  &:focus{
    outline: none;
  }
}

.input2drop{
  font-size: 20px;
  gap: 20px
}

.inp2Txt1Drop{
  font-size: 20px;
  gap: 20px;
  
  input, select{
    width: 90%
  }
}

.survCat{
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  max-width: 900px;
  font-family: 'Istok Web', sans-serif;
  font-size: 15px;
  gap: 20px;

  .outerCat{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $brandColor1;
    clip-path: polygon(25% 0, 100% 0, 100% 70%, 75% 100%, 0 100%, 0 30%);
    height: 90px;
    width: 124px;
    cursor: pointer;
    user-select: none;
    text-align: center;
  }
  .innerCat{
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(25% 0, 100% 0, 100% 70%, 75% 100%, 0 100%, 0 30%);
    width: 98%;
    height: 98%;
    background-color: #251e18;

    &:hover{
      background-color: $brandColor1;
    } 
  }
}



.profPic {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $bordYellow;
  font-size: 130px;
  width: 200px;
  height: 210px;
  background-color: white;
}

.profPicBord{
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.buttonUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bordYellow;
  width: 200px;
  height: 40px;
  cursor: pointer;
  color: $bgColor;
  border-radius: 10px;
  
  &:hover{
    background-color: #ffc042;
    
  }
}

.nextButtonSurv{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bordYellow;
  font-size: 20px;
  width: 190px;
  height: 50px;
  border: none;
  letter-spacing: 8px;
  font-family: 'Istok Web', sans-serif;
  font-weight: bold;
  border-radius: 10px;
  color: black;
  user-select: none;
  cursor: pointer;
  
  &:hover{
    background-color: #ffc042;
  }
}

//news and stories style

.storybg {
  background-color: #181614;
  padding-top: 50px;
  font-family: 'Istok Web', sans-serif;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;

  .card {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 300px;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-bottom: 25px;

    p {
      margin: 5px 0;
    }
  }

  .cardbg {
    background-color: #FBCD6E;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .card .image-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: none;

    img {
      width: 280px;
      height: auto;
      object-fit: cover;
    }
  }

  .card-content {
    padding: 10px;
    .date {
      letter-spacing: 1px;
      font-size: 12px;
      color: red;
      font-weight: bold;
      margin-bottom: 5px;
    }

    h2 {
      letter-spacing: 2px;
      margin-bottom: 2px;

      .material-symbols-outlined {
        vertical-align: middle;
        color: red;
        margin-left: 10px;
      }
    }

    a {
      text-decoration: none;
      color: black;
    }

    .author {
      font-size: 14px;
      font-style: italic;
      margin-bottom: 20px;
    }

  }

  .btn-news {
    background-color: #1E1E1E;
    border: 1px solid #BF9745;
    border-radius: 6px;
    text-align: center;
    width: 200px;
    margin: auto;

    a {
      font-size: 25px;
      color: #BF9745;
      text-decoration: none;
    }
  }
}

.nsAnnVis{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

//Story card style

.storyBG {
  background-color: #181614;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 90px;
}

.storycard {
  background-color: #FCF5E5;
  margin: auto;
  height: 90%;
  width: 80%;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 5px;

  .sline {
    border: 1px solid black;
  }

  h2,
  h4,
  p {
    margin-left: 50px;
    letter-spacing: 2px;
    font-family: 'Istok Web', sans-serif;
  }

  img {
    display: flex;
    margin: auto;
    height: 50%;
    margin-bottom: 50px;
  }

}


// Yearbook style

.yearbookBG {
  background-color: #181614;
  background-size: cover;
  height: 100%;

  .batchheader {
    color: #BF9745;
    text-align: center;
    letter-spacing: 8px;
    padding-top: 30px;

    .material-symbols-outlined {
      vertical-align: middle;
    }

    .divider {
      border-top: 1px solid white;
      width: 25%;
      margin: auto;
      margin-top: 15px;
    }
  }


  .drop {
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    font-size: 13px;
    letter-spacing: 3px;

    .material-symbols-outlined {
      vertical-align: middle;
    }
  }

  .Pcontainer {
    width: 90%;
    margin: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    padding: 50px;
    gap: 25px;
    justify-content: center;
  }

  .grid-item {
    margin: auto;
    width: 250px;
    height: 230px;
    position: relative;

    img {
      height: 100%;
      width: 100%;
    }

    p {
      font-family: 'Istok Web', sans-serif;
      width: 100%;
      z-index: 100;
      position: absolute;
      color: rgb(255, 255, 255);
      background-color: #de7d766b;
      font-size: 16px;
      left: 0;
      bottom: 0;
      margin: 0;
      padding-left: 8px;
    }
  }

}

// Home style

.HomeBG {
  background-color: #181614;
  height: 100%;
  background-size: cover;

  .title {
    color: #BF9745;
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    letter-spacing: 5px;
    padding-top: 25px;
    font-size: 40px;
  }

  .divider {
    border: 1px solid white;
    width: 15%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .home-cards {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .homecard {
    height: 600px;
    width: 400px;
    background-color: #FBCD6E;
    display: inline-block;
    margin: 2%;

    .image-container {
      display: flex;
      align-items: center;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .homecard-content {
    h3 {
      letter-spacing: 1px;
      padding: 10px;
    }

    p {
      font-family: 'Istok Web', sans-serif;
      letter-spacing: 1px;
      padding: 10px;
    }
  }

  .lm-btn {
    border: 1px solid #FBCD6E;
    border-radius: 5px;
    width: 280px;
    text-align: center;
    margin: auto;
    color: #FBCD6E;
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
    margin-top: 50px;
    padding: 15px;

    .material-symbols-outlined{
      vertical-align: middle;
    }
  }

  .contain-2 {
    margin-top: 40px;
    height: 100%;
    background-color: #79542E;
    padding: 50px;
    letter-spacing: 3px;

    h1 {
      color: #FFE1A4;
      margin-bottom: 20px;
      font-size: 40px;
      text-shadow: black 25px;
    }

    p {
      color: white;
    }
  }

  .event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;

    .calendar-event {

      display: flex;
      align-items: center;
      margin-top: 40px;

      .calendar {
        text-align: center;
        height: 130px;
        width: 130px;
        background-color: #FBCD6E;
        border-radius: 20px;

        .month {
          height: 32%;
          background-color: red;
          border-radius: 20px 20px 0 0;
          font-size: 220%;
          color: white;
        }

        .day {
          font-size: 400%;
        }
      }

      .calendar-details {
        display: flex;
        flex-direction: column;
        font-size: 20px;

        p {
          margin: 5px;
          padding-left: 20px;
        }

        .bold {
          font-weight: bolder;
        }
      }
    }
  }

  .event-btn {
    margin: auto;
    margin-top: 50px;
    background-color: #FBCD6E;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    padding: 10px;

    p {
      color: black;
    }
  }

  .contain-3 {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #FCF5E5;
    height: 100%;
    margin-top: 50px;

    .contain-left {
      padding: 50px;
      margin-left: 40px;

      .img-center {
        img {
          height: 200px;
          width: 530px;
          padding: 13px;
        }
      }

      .img-right {
        display: inline;

        img {
          height: 300px;
          width: 250px;
          padding: 13px;
        }
      }

      .img-left {
        display: inline;

        img {
          height: 300px;
          width: 250px;
          padding: 13px;
        }
      }
    }

    .contain-right {
      margin: auto;

      .gallery-title {
        text-align: center;
        letter-spacing: 5px;
      }

      .gallery-details {
        width: 70%;
        letter-spacing: 2px;
        padding: 50px 0 50px 0px;
        margin: auto;
        font-size: 18px;
      }

      .gallery-btn {
        border-radius: 10px;
        background-color: #FBCD6E;
        width: 20%;
        text-align: center;
        padding: 15px;
        margin: auto;
        letter-spacing: 2px;
        font-size: 13px;

        .material-symbols-outlined{
          vertical-align: middle;
        }
      }
    }
  }
}


//Admin

.header{
  position: absolute;
  top: 0;
  width: 120px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

//Navbar
.navBord{
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50px;
  display: flex;
  justify-content: center;  
  align-items: flex-start;
  background-color: $bgColor;
}

.navItem{
  top: 0;
  display: flex;
  justify-content: center;  
  align-items: flex-end;
  height: 400px;
  nav{
    display: flex;
    gap: 10px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #f1f1f1;
    user-select: none;
    height: 35px;
    width: 35px;
    &:hover{
      transition: 0.3s;
      border-radius: 50%;
      background-color: red;
    }
  }
  
}

.selNav{
  border-radius: 50%;
  background-color: red;
} 

.alumni {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


//Book of abstract

.InptCont{ 
  width: 100%;
  }

.listCont{
  user-select: none;
  gap: 5px;
  width: 480px;
  background-color: $bgColor;
  color: white;
}

.singleCont{
  position: relative;
  color: black;
  display: flex;
  text-align: justify;
  background-color: $bordYellow;
  height: 200px;
  cursor: pointer;
  gap: 20px;
}

.moreIcon{
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
    height: 0;
    border-right: 40px solid red;
    border-bottom: 40px solid transparent;
  text-align: right;
  color: white;
  span{
   margin-left: 15px;
  }
}


.innerBoa{
  position: relative;
  left: 15px;
  gap: 20px;
  width: 320px;
  align-items: flex-start;
  justify-content: flex-start;
}

.InnerInp{
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

.inptinnBord{
  justify-content: center;
  align-items: center;
  gap: 60px
}

.searchBoa{
  justify-content: center;
  align-items: center;
  gap: 50px;
 
  input{
    color: white;
    background-color: transparent;
    border: none;
    width: 160px;
    &:focus{
      outline: none;
    }
  }
}

.postAbstract{
  cursor: pointer;

  &:hover{
    font-weight: bold;
  }
}

.iconSearch{
  font-size: 20px;
  user-select: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24
}

.BOAcreate{
  gap: 20px;
  width: 90%;
  label{
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }
  input{
    padding: 0 20px;
    background-color: #ffdb92b4;
    border: none;
    text-align: center;
    font-size: 15px;
    height: 25px;
    &:focus{
      outline: none;
    }
  }
  textarea{
    padding: 10px;
    background-color: #ffdb9281;
    border: none;
    &:focus{
      outline: none;
    }
  }
}

.addBoaImg{
  background-color: #ffdb92b4;
  color: $brandColor1;
  height: 100px;
  width: 120px;
  font-size: 90px;
}

.imgArea{
  user-select: none;
  display: flex;
  width: 100%;
  align-items: flex-start;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.imgWrapArea{
  display: flex;
  flex-wrap:  wrap;
  gap: 20px;
}

.bottomBtn{
  height: 120px;
  display: flex;
  align-items: flex-end;
}

.btnArea{
  display: flex;
  width: 100%;

  button{
    background-color: $bordYellow;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;

    &:hover{
      transition: 0.3s;
      background-color: #fbcc6edb;
    }
  }
}

.btnDsg{
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 28px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  border: none
}

.edtBtn{
  background-color: $bordYellow;

  &:hover{
    transition: 0.3s;
    background-color: #e1a226;
    color: white;
  }
}

.delBtn{
  background-color: red;
  color: white;
}

.viewImg{
  width: 250px;
}

//book fo abstract: View

.headerInpt{
  display: flex;
  justify-content: start;
  align-items: center;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $bgColor;
  height: 70px;
  width: 400px;
  border-radius: 0 100px 100px 0; 
}

.innerHeader{
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 500px;
}

.cosPicAdmin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.ViewSingle{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.txtView{
  width: 100%;
  background-color: transparent;
  border: none;
  overflow: hidden;
  &:focus{
    outline: none;
  }

}

.hoverInCont{
  &:hover{
    outline: 1px solid black
  }
}

.contentText{
  text-align: justify;
  text-indent: 20px;
}

.leftView{
  width: 100%;
  max-width: 550px;

  textarea{
    resize: none;
    overflow-x: none;
    color: black
  }
}

.rightInnView{
  height: 600px;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

//News&Stories/Announcement
.nsAnnCat{
  font-size: 18px;
  

  div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom:solid 1px rgba(128, 128, 128, 0.691);
    &:hover{
      border-bottom: solid 1px white;
    }
  }
}

.imgContent{
  
  img{
    width: 150px;
    height: 100%;
  }
  
}

.innerContDesc{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ContDesc{
 width: 150px;
}

/* Dashoard */

.adminpage{

  width: 100%;

.admin-navbar {
  height: 12%;
  width: 100%;
  background-color: #181614;
  display: flex;
  justify-content: space-between;

  .nav-title {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      padding-left: 30px;

      h1 {
          color: #BF9745;
          letter-spacing: 8px;
          font-family: 'Abhaya Libre', serif;
      }

      p {
          font-size: 12px;
          letter-spacing: 1px;
          color: white;
          font-style: italic;
      }
  }

  .date-time {
      float: right;
      margin: 30px;
      color: white;

      h1 {
          margin-right: 50px;
          display: inline;
          vertical-align: middle;
          font-size: 40px;
      }

      .date {
          vertical-align: middle;
          display: inline-block;
          text-align: center;
      }
  }

  img {
      padding: 15px;
      vertical-align: middle;
      height: 8vh;
      width: auto;
  }

  .navdata{
      color: white;
      margin: 40px;

      h3{
          display: inline;
      }

      a{
          margin-right: 80px;
          color: white;
          text-decoration: none;
      }
  }
}


.admin-wrapper {
  display: flex;
  height: 90%;
}

.jobStyle{
  width: 100px;
}

.content {
  background-color: #FCF5E5;
  flex-grow: 1;
  padding: 20px;
  font-family: 'Istok Web', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;

  content::-webkit-scrollbar {
      display: none;
    }

  #dashboard-title {
      letter-spacing: 5px;
  }

  #personinfo-title{
      letter-spacing: 2px;
  }
  
  }
 
  .data-card {
    height: 100px;
    width: 350px;
    background-color: #F9BA39;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    display: inline-block;
    margin: 25px;

      .material-symbols-outlined {
          font-size: 100px;
          margin-right: 50px;
          vertical-align: middle;
      }

      h3 {
          font-size: 50px;
      }

      .data {
        vertical-align: middle;
        display: inline-block;
      
      }
  }
}
.navAnalyt{
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: end;
  height: 100%;
  div {
    padding-right: 40px;
    padding-left: 40px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
      background-color: #BF9745;
      color:rgb(30, 30, 31);
    }
    &:active{
      background-color: $surveyBord;

    }
  }
.first_Row{
  width: 100%;
  height: 100px;
}

.graphs{
  width: 100%;
}

.charts {

  height: 60%;
  width: 45%;
  display: inline-block;
  margin: 15px;
  padding-top: 50px;
  text-align: center;

  h3 {
      margin-bottom: 25px;
  }
}

#dboard-doughnut {
  height: 350px;
  width: 20%;
}

.data-story {
  margin-left: 50px;
  display: inline-block;
  width: 25%;
  height: 350px;

  h3 {
      margin-bottom: 25px;
  }

  table {
      padding: 15px;
      background-color: #FBCD6E;
      width: 100%;
      height: 100%;
      text-align: center;
      border-radius: 15px;
  }

}

.person-pie{
  height: 500px;
  width: 20%;
}

.person-pie-end{
  padding-left: 200px;
  height: 400px;
  width: 20%;
}
}

// Event Arrow Btn
.arrowContainer{
  justify-content: center;
  align-items: center;
}

#arr_left::after{
  content: "\2906";
}

#arr_right::after{
  content: "\2907";
}

.arrowBtn{
  color: white;
  text-align: center;
  padding: 10px;
  background-color: black;
  width: 20px;
}

//Footer User

.home-footer{
  padding-top: 25px;
  display: grid;
  grid-template-columns: 60% 40%;

  .footer-left{
    color: white;
    padding: 80px;
    letter-spacing: 2px;

    h1{
      color: #FFE1A4;
    }

    p{
      padding-top: 30px;
    }

    h2{
      padding-top: 25px;
      color: #FFE1A4;

    }
  }

  .footer-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
      height: 100%;
      width: 100%;
    }
  }

  .footer-icon{
    padding: 5px;
    display: inline-block;
  }
}
